<% include header.ejs %>
<link href="/css/widget.css" rel="stylesheet" media="screen">
<script  type="text/javascript" src="/js/require.js" data-main="/js/main/widget.js" ></script>
</head>
<body>
<div class="container">


		<!-- tab -->		
		<div class="tab" id="tab"> 

			<ul class='tab-nav'>

				<li class="tab-nav-item">1</li>
				<li class="tab-nav-item">2</li>
				<li class="tab-nav-item">3</li>

			</ul>


			<div class='tab-content'>

				<div class="tab-content-item">1</div>
				<div class="tab-content-item">2</div>
				<div class="tab-content-item">3</div>

			</div>

		</div>
		<!-- tab end-->



		<!-- carousel  -->

		<div class="carousel" id="carousel">

			<div class="carousel-view">

			  <ul class="carousel-cont-list">	

				<li class="carousel-cont-item"><a><img src="img/carousel.png" /></a></li>
				<li class="carousel-cont-item"><a><img src="img/carousel.png" /></a></li>
				<li class="carousel-cont-item"><a><img src="img/carousel.png" /></a></li>
			</ul>
				<span class="carousel-btn carousel-prev"><</span>
				<span class="carousel-btn carousel-next">></span>

			</div>

			<ul class="carousel-nav">

				<li class="carousel-nav-item">1
				</li>

				<li class="carousel-nav-item">2
				</li>

				<li class="carousel-nav-item">3
				</li>


			</ul>

		</div>

		<!-- carousel  end -->



</div>
<% include footer.ejs %>