<% include header.ejs %>
<% include bootstyle.ejs %>
<link href="/css/home.css" rel="stylesheet" media="screen">
</head>
<body>
	<div class="container">
<div class="row">

	<div class="col-md-12 col-lg-12">

	<blockquote class="pull-right">
	  	<p>今天，我们讲了一整天和自闭症有关的话题。蓝色行动的今天不说话，也如预期地征集到了100万人的参与。谢谢所有壹家人的行动，这些点滴的努力，正在为一个更美好的未来添砖加瓦。今晚，再留出一点时间。我们一起关上灯</p>
	  	<small>网络谣传</small>
	</blockquote>

	</div>
	<div class=" col-md-3 col-lg-3">



	</div>

	<div class=" col-md-9 col-lg-9">



	<form class="form-horizontal" role="form">
	  <div class="form-group">
    		<label for="username" class="col-sm-2 control-label">用户名</label>
   			<div class="col-sm-10">
     			 <input type="text" class="form-control" id="username" placeholder="username">
    		</div>
  	</div>
  	<div class="form-group">
    	<label for="password" class="col-sm-2 control-label">密码</label>
    	<div class="col-sm-10">
      		<input type="password" class="form-control" id="password" placeholder="Password">
   		 </div>
  </div>
   	<div class="form-group">
    	<label for="repassword" class="col-sm-2 control-label">密码确认</label>
    	<div class="col-sm-10">
      		<input type="password" class="form-control" id="repassword" placeholder="re Password">
   		 </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">注册</button>
    </div>
  </div>
</form>





	</div>


</div>

</div>

<% include footer.ejs %>