<% include header.ejs %>
</head>
<body>
<div class="container">

<p>Welcome to <%= title %></p>

<a href="/register">注册</a>
<a href="/login">登录</a>
<a href="/upload">上传</a>
<a href="/raphael">Raphael</a>
<a href="/rabing">大饼</a>
<a href="/articleAdd">添加文章</a>
<P></p>
<P></p>
<P></p>
<P></p>
<fieldset>
	
	<legend>create tags </legend>



	<input type="text" name="tags" class="ctags-text" placeholder="please insert tags name" />

	<p id="currentinfo"></p>

	<button class="action" data-action="ctags">create</button>


</fieldset>
</div>
<% include basejs.ejs  %>
<script type="text/javascript">

		// onload load all tags 

		

			$.ajax({url:"/tags" , type:"GET", dataType:"json"}).done(function(data){

				var _a = data;

					for(var i = data.length-1; i>=0 ;i--){

					console.log(_a[i]);
					console.log(_a[i].name);
					console.log(_a[i]._id);

				}	

			}).fail(function(data){

				console.log("errror");

			});

	$('.action').bind('click',function(){

		if($(this).attr('data-action')==="ctags"){

			var v = $('.ctags-text').val();

			if(v){

				$.ajax({

					url:'/ctags?ctag='+v,

					type:"GET",

					processData:false,

					dataType:"json"


				}).done(function(data){

						console.info(data);

						console.log($.parseJSON(data));

					}).fail(function(data){

						console.log("error");
					});


			}

		}


	})

</script>
<% include footer.ejs %>