<% include header.ejs %>
<% include bootstyle.ejs %>
</head>
<body>
<div class="container">

<h1><%= title %></h1>

<p>Welcome to <%= title %></p>

<div id="vessel">
<div id="eyes" style="position:relative;" >

<div id="eyesvg" ></div>

<div id="texts"></div>


</div>

</div>



</div>
<% include basejs.ejs %>
<script src="/javascripts/raphael-min.js" type="text/javascript"></script>
<script src="/javascripts/raphael.demo.js" type="text/javascript"></script>
<% include footer.ejs %>
